*{
    font-family: Arial;
}

body {
    background-color: black;
}

h1{
    color:grey;
    font-size: 35px;
}

div{
    width: 475px;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
}

a{
    display: block;
    padding: 5px 15px;
}

#rateval {
    font-size: 14px;
    font-weight: bold;
}

table {
    margin: auto;
}